.App {
  margin-top: 5rem;
}
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
  max-height: 25vh;
  overflow-y: auto;
}
.toolbar-class {
  border: 1px solid #ccc;
}
